img {
  display: block;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}

.gallery-image:hover {
  transform: scale(1.04);
}
